<div class="row h-100 main-site">
    <div class="col-lg-6 description">
         <h1>TRADE APP</h1>
         <h2>My application is designed in the style of XTB and serves as a versatile trading platform. With my app, you can seamlessly invest in commodities, stocks, currencies, cryptocurrencies, and more. We provide real-time data sourced directly from XTB, ensuring that you have access to the latest market information to make informed trading decisions. Whether you're a seasoned trader or just starting out, our user-friendly interface and comprehensive features make it easy to trade and diversify your portfolio. Join us today and embark on your trading journey with confidence.</h2> 
    </div>
    <div class="col-lg-6 image-div">
        <img class="mt-5 ml-auto mr-auto" src="assets/trader.png" alt="Data analysis">
    </div>
</div>
<div class="cons">
    <h3> Trading becomes <span> easy </span></h3>
</div>
<div class="row info-row">
    <div class="col-md" data-description="Available for most days of the week, 24 hours a day, with the exception of weekends.You can trade at any time, which is particularly beneficial for those who want to adjust their trading to their schedule">
        <img class="mt-5 ml-auto mr-auto" src="assets/24h.png" alt="24 hours clock">
    </div>
    <div class="col-md" data-description="The application provides educational materials, market analyses, and tools to assist investors in making investment decisions">
        <img class="mt-5 ml-auto mr-auto" src="assets/research.png" alt="research icon">
    </div>
    <div class="col-md" data-description="The application offers competitive transaction costs, which means lower commissions and spreads compared to traditional brokerage services">
        <img class="mt-5 ml-auto mr-auto" src="assets/low-cost.png" alt="low cost icon">
    </div>
    <div class="col-md" data-description="We offer live updates of news and analyses from financial markets, including economic and political news that can impact the markets">
        <img class="mt-5 ml-auto mr-auto" src="assets/newspaper.png" alt="newspaper icon">
    </div>
</div>
